---
import ClientManager from '../components/dashboard/ClientManager';
import Layout from '../layouts/Layout.astro';

---

<Layout>
	<main class="p-2 md:p-8 w-full bg-red-100/20">
		<ClientManager client:load />
	</main>
</Layout>
