---
import ClientManager from '../components/dashboard/ClientManager';
import Layout from '../layouts/Layout.astro';

---

<Layout title="Dashboard - Clientes" description="Gestión de clientes en el dashboard">
	<main class="p-2 md:p-8 w-full bg-yellow-100/20">
		<ClientManager client:load />
	</main>
</Layout>
