---
import MotorizedManager from '../components/dashboard/MotorizedManager';
import Layout from '../layouts/Layout.astro';

---

<Layout title="Dashboard - Motorizados" description="Gestión de motorizados en el dashboard">
	<main class="p-2 md:p-8 w-full bg-orange-100/20">
		<MotorizedManager client:load />
	</main>
</Layout>
