---                            
import Sidebar from '../components/layout/Sidebar.astro'
import '../styles/global.css'
import logo from '../assets/logo.svg';

interface Props {
	title: string;
	description: string;
}

const { title, description } = Astro.props as Props;
---    


<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href={logo.src} />
		<link rel="icon" href={logo.src} />
		<meta name="generator" content={description} />
		<title>{title}</title>
	</head>
	<body class="flex flex-col md:flex-row">
		<Sidebar />
		<slot />
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
	}
</style>
